<h1>Users</h1>


<ng-container *ngIf="(users$ | async)">
  <div>
    <ul>
      <li *ngFor="let user of (users$ | async)">
        <img width="60" src="https://img2.freepng.fr/20180715/wps/kisspng-brawl-stars-super-smash-bros-brawl-game-beat-em-discord-profile-picture-5b4ae63bc2d596.0432623315316352597981.jpg">
        <h3>{{user.id}} - {{user.username}}</h3>

        <p>Name: {{user.name}} </p>
        <p>e-mail: {{user.email}} </p>
        <p>Phone: {{user.phone}} </p>
        <p>Website: {{user.website}} </p>
      </li>
    </ul>
  </div>
</ng-container>


<ng-container *ngIf="!(users$ | async)">
  Loading ...
</ng-container>


<ng-container *ngIf="(error$ | async)">
  <p>{{ (error$ | async).statusText }}</p>
  <p>{{ (error$ | async).message }}</p>
</ng-container>

